.Breadcrumb{
    background-image: url(../../Images/Bread-crumb/Bread-crumb.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px 0px;
    margin-bottom: 20px;
}
.breadCampPageTitle{
    text-align: center;
    margin: 20px;
}
.breadCampPageTitle h2{
    text-align: center;
    color: #084496;
    font-family: Roboto;
    font-weight: normal;
    font-size: 38px;
    text-transform: uppercase;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.25);
}
.breadCampPageTitle h2 span{
    font-family: Roboto;
    font-weight: normal;
    font-size: 38px;
    text-transform: uppercase;
    color: #F59A26;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.25);
}
.breadCampPagelink{
    display: flex;
    justify-content: center;
}