.centerMode{
    margin: 10px;
}

.topInstructorsBackground button.slick-arrow.slick-prev{
    display: none !important;
}
.topInstructorsBackground button.slick-arrow.slick-next{
    display: none !important;
}