
.courseCard {
    border: none !important;
    border-radius: 0px 0px 20px 20px;
    background:var(--white-theme-color);

}
.instructorThumbnail{
    width: 100%;
    height: 250px;
}
.instructorName{
    font-weight: bold;
    font-size: 33px;
    text-transform: capitalize;
    font-family: var(--primary-theme-font);
    color: var(--secondary-text-color);
}
.instructordesignation{
    font-weight: normal;
    font-size: 26px;
    text-transform: capitalize;
    color: var(--common-text-color);
    margin: 0;   
}
.instructorCareer{
    font-weight: normal;
    font-size: 24px;
    text-transform: capitalize;
    color: var(--common-text-color);
    font-family: var(--primary-theme-font);
}
.instructorSocialMedia a {
    padding: 5px 5px 10px 5px;
    margin: 0px 5px;
    border-radius: 5px;
    background: var(--secondary-theme-color);
}
.instructorSocialMedia a svg {
    width: 25px;
    height: 25px;
    color: var(--button-text-color);
}