.slickk-arrow{
    color:black;
    background-color: black;
}
.slick-prev {
    left: -15px;
    z-index: 100;
}
.slick-next {
    right: -0px;
    z-index: 100;
}
.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0px 50px 0px 50px;
    padding: 0;
}
.slick-prev:before, .slick-next:before {
    font-family: 'slick';
    font-size: 40px;
    line-height: 1;
    opacity: 3.75;
    color: var(--secondary-text-color);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
    color: transparent;
    outline: none;

}